In [2]:
import pymysql

class ConnectionHelper:
    def __init__(self, connection):
        self.connection = connection
    
    def run(self, query, args=None):
        with self.connection.cursor() as cursor:
            print('Executando query:')
            print(cursor.mogrify(query, args))  # O que este comando faz?
            cursor.execute(query, args)
            for result in cursor.fetchall():
                print(result)

connection_options = {
    'host': 'localhost',
    'user': 'root',
    'password': '1234',
    'database': 'my_chef',    
}
connection = pymysql.connect(**connection_options)

db = ConnectionHelper(connection)

In [7]:
# db.run('''
#     insert into 
#         Ingredient (_name)
#     values
#         ("Batata"),
#         ("Beterraba"),
#         ("Pudim"),
#         ("Arroz"),
#         ("Macarrao"),
#         ("Feijao")
# ''')

db.run('select * from Ingredient')

Executando query:
select * from Ingredient
(1, 'Paprika', 5)
(47, 'Batata', None)
(48, 'Beterraba', None)
(49, 'Pudim', None)
(50, 'Arroz', None)
(51, 'Macarrao', None)
(52, 'Feijao', None)

In [10]:
db.run('''
    insert into 
        Recipe (_name, description, difficulty)
    values
        ("Pudim de Arroz", "a", 2),
        ("Pudim de Beterraba", "a", 2),
        ("Pudim de Feijao", "a", 2),
        ("Pudim de Macarrao", "a", 2),
        ("Pudim de Batata", "a", 2),
        ("Batata de Macarrao", "a", 2),
        ("Arroz de Beterraba", "a", 2)
''')

Executando query:

    insert into
        Recipe (_name, description, difficulty)
    values
        ("Pudim de Arroz", "a", 2),
        ("Pudim de Beterraba", "a", 2),
        ("Pudim de Feijao", "a", 2),
        ("Pudim de Macarrao", "a", 2),
        ("Pudim de Batata", "a", 2),
        ("Batata de Macarrao", "a", 2),
        ("Arroz de Beterraba", "a", 2)

In [12]:
db.run('select * from Recipe')
db.run('select * from Ingredient')

Executando query:
select * from Recipe
(1, 'Pudim de Arroz', 'a', 2, None)
(2, 'Pudim de Beterraba', 'a', 2, None)
(3, 'Pudim de Feijao', 'a', 2, None)
(4, 'Pudim de Macarrao', 'a', 2, None)
(5, 'Pudim de Batata', 'a', 2, None)
(6, 'Batata de Macarrao', 'a', 2, None)
(7, 'Arroz de Beterraba', 'a', 2, None)
Executando query:
select * from Ingredient
(1, 'Paprika', 5)
(47, 'Batata', None)
(48, 'Beterraba', None)
(49, 'Pudim', None)
(50, 'Arroz', None)
(51, 'Macarrao', None)
(52, 'Feijao', None)

In [13]:
db.run('''
    insert into
        Recipe_Ingredient (id_recipe, id_ingredient)
    values
        (1, 49),
        (1, 50),
        (2, 49),
        (2, 48),
        (3, 49),
        (3, 52),
        (4, 49),
        (4, 51),
        (5, 49),
        (5, 47),
        (6, 47),
        (6, 51),
        (7, 50),
        (7, 48)
''')

Executando query:

    insert into
        Recipe_Ingredient (id_recipe, id_ingredient)
    values
        (1, 49),
        (1, 50),
        (2, 49),
        (2, 48),
        (3, 49),
        (3, 52),
        (4, 49),
        (4, 51),
        (5, 49),
        (5, 47),
        (6, 47),
        (6, 51),
        (7, 50),
        (7, 48)

In [21]:
# Nada a ver, conta quantas receitas tem cada ingrediente
db.run('''
    select
        count(Ingredient.id) as ingredient_count,
        Ingredient._name as ingredient_name
    from
        Ingredient
    inner join Recipe_Ingredient
        on Ingredient.id = Recipe_Ingredient.id_ingredient
    inner join Recipe
        on Recipe.id = Recipe_Ingredient.id_recipe
    group by
        Recipe_Ingredient.id_ingredient
    order by
        ingredient_count
''')

Executando query:

    select
        count(Ingredient.id) as ingredient_count,
        Ingredient._name as ingredient_name
    from
        Ingredient
    inner join Recipe_Ingredient
        on Ingredient.id = Recipe_Ingredient.id_ingredient
    inner join Recipe
        on Recipe.id = Recipe_Ingredient.id_recipe
    group by
        Recipe_Ingredient.id_ingredient
    order by
        ingredient_count

(1, 'Feijao')
(2, 'Arroz')
(2, 'Batata')
(2, 'Beterraba')
(2, 'Macarrao')
(5, 'Pudim')

In [26]:
db.run('''
    insert into Pantry (_name) values ("ABuieh")
''')

Executando query:

    insert into Pantry (_name) values ("ABuieh")

In [28]:
db.run('select * from Pantry')
db.run('select * from Ingredient')

Executando query:
select * from Pantry
(1, 'Minha Dispensa')
(2, 'Minha Dispensa')
(3, 'Minha Dispensa')
(4, 'Minha Dispensa')
(5, 'Minha Dispensa')
(6, 'Minha Dispensa')
(7, 'Minha Dispensa')
(8, 'Minha Dispensa')
(9, 'Minha Dispensa')
(10, 'Minha Dispensa')
(11, 'Minha Dispensa')
(12, 'Minha Dispensa')
(13, 'Minha Dispensa')
(14, 'Minha Dispensa')
(15, 'Minha Dispensa')
(16, 'Minha Dispensa')
(17, 'Minha Dispensa')
(18, 'Minha Dispensa')
(19, 'Minha Dispensa')
(20, 'Minha Dispensa')
(21, 'Minha Dispensa')
(22, 'Minha Dispensa')
(23, 'Minha Dispensa')
(24, 'Minha Dispensa')
(25, 'Minha Dispensa')
(26, 'Minha Dispensa')
(27, 'Minha Dispensa')
(28, 'Minha Dispensa')
(29, 'Minha Dispensa')
(30, 'Minha Dispensa')
(31, 'Minha Dispensa')
(32, 'Minha Dispensa')
(33, 'Minha Dispensa')
(34, 'Minha Dispensa')
(35, 'Minha Dispensa')
(36, 'Minha Dispensa')
(37, 'Minha Dispensa')
(38, 'Minha Dispensa')
(39, 'Minha Dispensa')
(40, 'Minha Dispensa')
(41, 'Minha Dispensa')
(42, 'Minha Dispensa')
(43, 'Minha Dispensa')
(44, 'Minha Dispensa')
(45, 'Minha Dispensa')
(46, 'Minha Dispensa')
(47, 'Minha Dispensa')
(48, 'Minha Dispensa')
(49, 'Minha Dispensa')
(50, 'Minha Dispensa')
(51, 'Minha Dispensa')
(52, 'Minha Dispensa')
(53, 'Minha Dispensa')
(54, 'Minha Dispensa')
(55, 'Minha Dispensa')
(56, 'Minha Dispensa')
(57, 'Minha Dispensa')
(58, 'Minha Dispensa')
(59, 'Minha Dispensa')
(60, 'Minha Dispensa')
(61, 'Minha Dispensa')
(62, 'Minha Dispensa')
(63, 'Minha Dispensa')
(64, 'Minha Dispensa')
(65, 'Minha Dispensa')
(66, 'Minha Dispensa')
(67, 'Minha Dispensa')
(68, 'Minha Dispensa')
(69, 'Minha Dispensa')
(70, 'Minha Dispensa')
(71, 'Minha Dispensa')
(72, 'Minha Dispensa')
(73, 'Minha Dispensa')
(74, 'Minha Dispensa')
(75, 'Minha Dispensa')
(76, 'Minha Dispensa')
(77, 'Minha Dispensa')
(78, 'Minha Dispensa')
(79, 'Minha Dispensa')
(80, 'Minha Dispensa')
(81, 'Minha Dispensa')
(82, 'Minha Dispensa')
(83, 'Minha Dispensa')
(84, 'Minha Dispensa')
(85, 'Minha Dispensa')
(86, 'Minha Dispensa')
(87, 'Minha Dispensa')
(88, 'Minha Dispensa')
(89, 'Minha Dispensa')
(90, 'Minha Dispensa')
(91, 'Minha Dispensa')
(92, 'Minha Dispensa')
(93, 'Minha Dispensa')
(94, 'Minha Dispensa')
(95, 'ABuieh')
(96, 'ABuieh')
Executando query:
select * from Ingredient
(1, 'Paprika', 5)
(47, 'Batata', None)
(48, 'Beterraba', None)
(49, 'Pudim', None)
(50, 'Arroz', None)
(51, 'Macarrao', None)
(52, 'Feijao', None)

In [29]:
db.run('''
    insert into
        Ingredient_Pantry (id_ingredient, id_pantry)
    values
        (1, 96),
        (52, 96),
        (49, 96)
''')

Executando query:

    insert into
        Ingredient_Pantry (id_ingredient, id_pantry)
    values
        (1, 96),
        (52, 96),
        (49, 96)

In [30]:
db.run('select * from Ingredient_Pantry')

Executando query:
select * from Ingredient_Pantry
(1, 96)
(49, 96)
(52, 96)

In [35]:
db.run('''
    select
        count(Recipe._name) as recipe_name,
        Ingredient._name as ingredient_name
    from
        Recipe
    inner join Recipe_Ingredient
        on Recipe.id = Recipe_Ingredient.id_recipe
    inner join Ingredient
        on Ingredient.id = Recipe_Ingredient.id_ingredient
    inner join Ingredient_Pantry
        on Ingredient.id = Ingredient_Pantry.id_ingredient
    inner join Pantry
        on Ingredient_Pantry.id_pantry = Pantry.id
    group by
        Recipe_Ingredient.id_ingredient
    ''')

Executando query:

    select
        count(Recipe._name) as recipe_name,
        Ingredient._name as ingredient_name
    from
        Recipe
    inner join Recipe_Ingredient
        on Recipe.id = Recipe_Ingredient.id_recipe
    inner join Ingredient
        on Ingredient.id = Recipe_Ingredient.id_ingredient
    inner join Ingredient_Pantry
        on Ingredient.id = Ingredient_Pantry.id_ingredient
    inner join Pantry
        on Ingredient_Pantry.id_pantry = Pantry.id
    group by
        Recipe_Ingredient.id_ingredient

(5, 'Pudim')
(1, 'Feijao')

In [38]:
db.run('''
    insert into
        Ingredient_Pantry (id_ingredient, id_pantry)
    values
        (50, 96),
        (48, 96)
''')

Executando query:

    insert into
        Ingredient_Pantry (id_ingredient, id_pantry)
    values
        (50, 96),
        (48, 96)

In [55]:
db.run('''
    select
        Recipe._name as recipe_name,
        Ingredient._name as ingredient_name
    from
        Recipe
    inner join Recipe_Ingredient
        on Recipe.id = Recipe_Ingredient.id_recipe
    inner join Ingredient
        on Ingredient.id = Recipe_Ingredient.id_ingredient
    inner join Ingredient_Pantry
        on Ingredient.id = Ingredient_Pantry.id_ingredient
    inner join Pantry
        on Ingredient_Pantry.id_pantry = Pantry.id
''')

db.run('''
    select
        Ingredient._name,
        Recipe._name
    from
        Ingredient
    inner join Recipe_Ingredient
        on Recipe_Ingredient.id_ingredient = Ingredient.id
    inner join Recipe
        on Recipe_Ingredient.id_recipe = Recipe.id
''')

Executando query:

    select
        Recipe._name as recipe_name,
        Ingredient._name as ingredient_name
    from
        Recipe
    inner join Recipe_Ingredient
        on Recipe.id = Recipe_Ingredient.id_recipe
    inner join Ingredient
        on Ingredient.id = Recipe_Ingredient.id_ingredient
    inner join Ingredient_Pantry
        on Ingredient.id = Ingredient_Pantry.id_ingredient
    inner join Pantry
        on Ingredient_Pantry.id_pantry = Pantry.id

('Pudim de Beterraba', 'Beterraba')
('Arroz de Beterraba', 'Beterraba')
('Pudim de Arroz', 'Pudim')
('Pudim de Beterraba', 'Pudim')
('Pudim de Feijao', 'Pudim')
('Pudim de Macarrao', 'Pudim')
('Pudim de Batata', 'Pudim')
('Pudim de Arroz', 'Arroz')
('Arroz de Beterraba', 'Arroz')
('Pudim de Feijao', 'Feijao')
Executando query:

    select
        Ingredient._name,
        Recipe._name
    from
        Ingredient
    inner join Recipe_Ingredient
        on Recipe_Ingredient.id_ingredient = Ingredient.id
    inner join Recipe
        on Recipe_Ingredient.id_recipe = Recipe.id

('Arroz', 'Pudim de Arroz')
('Arroz', 'Arroz de Beterraba')
('Batata', 'Pudim de Batata')
('Batata', 'Batata de Macarrao')
('Beterraba', 'Pudim de Beterraba')
('Beterraba', 'Arroz de Beterraba')
('Feijao', 'Pudim de Feijao')
('Macarrao', 'Pudim de Macarrao')
('Macarrao', 'Batata de Macarrao')
('Pudim', 'Pudim de Arroz')
('Pudim', 'Pudim de Beterraba')
('Pudim', 'Pudim de Feijao')
('Pudim', 'Pudim de Macarrao')
('Pudim', 'Pudim de Batata')